mixin player
	section.player
		.player__artist Chuck Berry
		.player__track-name Baby Doll Remix by La Femme (YSL)
		.player__progressbar.progressbar
			.progressbar__time.progressbar__time_now 00:31
			.progressbar__time.progressbar__time_duration 3:27
			.progressbar__wrapper
				.progressbar__loadbar(style="width: 70%;")
				.progressbar__progress(style="width: 100%;")