html {
	box-sizing: border-box;
}

body {
	font-family: $base-font;
	color: $base-text-color;
	background-color: #000;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

img {
	max-width: 100%;
	height: auto;
}

.container {
	max-width: 27em;
	margin-left: auto;
	margin-right: auto;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 3em;
}
